/* this is header formatting*/
header {
    color:rgb(46, 0, 253);
    background-color:rgb(48, 38, 38);
    text-align:center;
    background-image: radial-gradient(circle, rgb(76, 228, 255), rgb(21, 75, 255));
    border: 5px solid black;
}

/*this styles the navigation links to the right end*/

.nav1 {
    text-align: end;
    padding:10px;
    list-style-type: none;
}
#titleNav {
    text-decoration: underline;
    font-size:1.5em;
    color:rgb(75, 1, 1);
    padding: 10px
}
/* this is the intro information about myself*/

.intro2 {
    display: flex;
}

.intro {
    font-size:18px;
    max-width:70%;
    margin: auto;
    padding-top:2em;
    height:fit-content;
}

/*this is the formatting for the first and main web project i have done*/

.mainSite {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 30em;
    text-align: center;
    border:5px solid black;
    margin-top:1.5em;
    padding-top:10px;
    background-image: linear-gradient(to right, rgb(1, 8, 97), rgb(6, 59, 158), rgb(4, 124, 145), rgb(4, 207, 221));
}
#MS1 {
    display: flex;
    flex-grow:0;
    max-height:20em;
    border: 2px solid black;
    width: 40% ;
    box-shadow: 5px 5px 3px rgb(54, 54, 54);
}

/*this is formatting for the intro section*/

#propic {
    width: 200px;
    height:160px;
    margin: 20px 20px;
    border: 2px solid black;
    box-shadow: 5px 5px 3px rgb(54, 54, 54);
}

/*this is the formatting for the pictures of the web projects*/

.orm1 {
    width:50%;
    height:auto;
    margin:auto 7px;
    border: 2px solid black;
    box-shadow: 5px 5px 3px rgb(54, 54, 54);
}
#otherprojects1 {
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content: space-around;
    width: screen-width;
    height:100%;
    margin-top:20px;
    margin-right:2px;
    border:5px solid black;
    background-image: linear-gradient(to right, rgb(38, 1, 97), rgb(6, 59, 158), rgb(4, 145, 103), rgb(4, 207, 221))
}


/* this is formatting for the other projects section*/
.op1 {
    display:flex;
    width: 20em;
    height:20em;
    background-color:rgb(247, 191, 123);
    margin:20px  auto ;
    border:5px solid black;
    justify-content: space-around;
    background-image: linear-gradient(to right, rgb(38, 1, 97), rgb(161, 152, 69), rgb(145, 4, 4), rgb(255, 8, 0));
    min-width: 40%;
    
}

.op1item {
    margin: auto;
    text-align:center;
}



/*this is the formatting for the footer when the screen is bigger than 480 px*/
 footer {
    background-color: rgb(248, 226, 197);
    height: 20em;
    margin-top: 2em;
    border:4px dashed black;
    align-content: center;
 } 
  
.footp {
    text-align: center;
    font-weight: bolder;
    font-style: oblique;
    font-size: 1.4em;
    text-decoration: underline;
 }

.tooltip {
    position: relative;
    display: inline-block;
    cursor: pointer;
    max-height: 22px;
    border: 2px solid black;
    padding: 6px 20px;
    border-radius: 16px;
    color: white;
    font-size: 16px;
    font-weight: bold;
    background-color: rgb(1, 1, 139);
  }
  
.tt2 {
    margin-left: 85%;
}

.tt3 {
    margin-top: 280px;
    margin-right: 4px;
}



  .tooltip .tooltip-text {
    visibility: hidden;
    width: 140px;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    bottom: 125%; /* adjust placement */
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
  }
  
  .tooltip:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
  }
  

 /*this is formatting for the footer when screen size is for a cell phone. It makes the footer sticky and always at the bottom of the page when scrolling*/
 @media screen and (max-width: 510px) {
    footer {
        display: flex;
        flex-direction: column;
        position: fixed;
        bottom: 0;
        width: 100%;
        border: 0em;
        justify-content: center;
    }
    .mediaPlaceHolder {
        width: auto;
        height:20em;
        background-color: aliceblue;
        display: block;
    }
 }


 @keyframes shine {
    0% { background-position: 0% 50%; }
    100% { background-position: 100% 50%; }
}

.silver-gradient {
    background: linear-gradient(
        135deg,
        #a9fcce,
        #c0c0c0,
        #95cddb,
        #dbd6f8,
        #eff3c3,
        #a59cd1
    );
    background-size: 400% 400%;
    animation: shine 3s infinite alternate;
    border-radius: 8px;
    color: #333;
    text-align: center;
}
 